body {
    background-color: #F9FAFC;
    font-family: 'Sono', sans-serif;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #355914;
    ;
}

.main-bg {
    background-color: #F9FAFC;
}


/* Navigation*/
.nav-links{
    width: 40%;
}
.brand {
    color: #355914;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
}


/* Sidebar */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #F9FAFC;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper {
    padding-right: 250px;
}

#sidebar-wrapper {
    width: 23%;
}

.profile {
    border-radius: 50%;
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.profile-text{
    font-size: 1.5vh;
    padding: 10px;
    text-align: center;
    color: #584137;
}

.profile-heading {
    font-size: 3.5vh;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: #584137;
}



/* Cards */
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 90%;
    min-width: 100%;
    left: 0px;
    background-color: #8a3503;
}

.restaurant {
    color: #FFF;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Content */

.masthead {
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 25vh;
    width: 100%;
}

.masthead-text {
    color: #000;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
}

.post-link {
    text-decoration: none;
    color: #584137;
    text-transform: uppercase;
}

.post-link:hover,
.page-link {
     color: #f4a003;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    text-transform: uppercase;
}

.post-subtitle {
    margin-left: 5%;
    background-color: #8a3603;
    padding-left: 5px;
    color: #FFF;
}



/* NOT DEALT WITH YET */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #584137;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}



/* Footer */

footer {
    z-index: 2000;
}