body {
    background-color: #e4e4e4;
    font-family: 'Sono', sans-serif;
}

.heading {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.light-bg {
    background-color: #FFF;
}

.dark-bg {
    background-color: #355914;
    ;
}

.main-bg {
    background-color: #e4e4e4;
}


/* Navigation*/
.brand {
    color: #355914;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    z-index: 1;
}


/* Sidebar */
#wrapper {
    padding-left: 0;
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    width: 23%;
    right: 250px;
    height: 150%;
    margin-right: -245px;
    overflow-y: auto;
    background: #e4e4e4;
    overflow: hidden;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-bottom: 40px;
}

.profile {
    border-radius: 50%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.profile-text {
    font-size: 1.5vh;
    padding: 10px;
    text-align: center;
    color: #584137;
    height: 100%;
}

.profile-heading {
    font-size: 3.5vh;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: #584137;
}


/* Cards */
.card {
    border: none;
    background-color: transparent;
}

.card-body {
    display: inline-block;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 85%;
    min-width: 100%;
    left: 0px;
    background-color: #8a3503;
}

.restaurant {
    color: #FFF;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.address {
    color: #584137;
    font-size: 80%;
}

.created {
    color: #584137;
    font-size: 80%;
}

/* Post Content */

.masthead {
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 20vh;
    width: 100%;
    margin: 0;
}

.masthead-text {
    color: #584137;
    position: relative;
}

.restaurant_detail {
    color: #f4a003;
    font-size: 25px;
}

.card-text {
    font-family: 'Sono', sans-serif;
    width: 80%;
}

.post-link {
    text-decoration: none;
    color: #584137;
    text-transform: uppercase;
}

.post-link:hover {
    color: #f4a003;
}

.page-link {
    color: #8a3503;
    border-radius: 5px;
    margin-bottom: 15px;
}

.page-link:hover {
    color: #FFF;
    background-color: #8a3603;
}

.post-title {
    margin-top: 10%;
    margin-left: 0;
    text-transform: uppercase;
}

.post-subtitle {
    margin-left: 0;
    background-color: #8a3603;
    padding-left: 5px;
    color: #FFF;
}

/* Post form NOT USED */

h1 .page-title {
    display: inline-block;
    text-align: center;
    font-size: 10px;
}

/* Comments and likes */
.btn-like {
    color: #f4a003;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f4a003;
    background: transparent;
    border: none;
}


/* Sign up/sign in/sign out */

.btn-signup {
    background-color: #f4a003;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #f4a003;
}

.btn-signout {
    background-color: #f4a003;
    color: #fff;
}

.btn-signout:hover,
.btn-signout:active {
    background-color: #fff;
    color: #f4a003;
}

.link {
    color: #f4a003;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #584137;
    text-decoration: underline;
}


/* Footer */

footer {
    z-index: 2000;
}

.fa-brands {
    color: #FFF;
}

.fa-brands:hover {
    color: #f4a003;
}


@media only screen and (max-width: 990px) {
    #sidebar-wrapper {
        padding-right: 20px;
        padding-left: 20px;
        width: 250px;
        overflow: scroll;
        height: 90%;
    }

    .profile-text {
        height: 60%;
    }

    .profile {
        border-radius: 50%;
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .card-text {
        width: 75%;
    }
}

@media only screen and (max-width: 767px) {
    #sidebar-wrapper {
        position: fixed top;
        overflow: scroll;
        width: 100%;
        z-index: 0;
        height: 800px;
    }

    .profile-text {
        font-size: 11x;
    }

    #page-content-wrapper {
        margin-top: 70vh;
    }

    .card-text {
        width: 100%;
    }
}