body {
    background-color: #F9FAFC;
    font-family: 'Sono', sans-serif;
}

img .header {
height: 100px;
}

.brand {
    color: #355914;
    display: inline-block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    z-index: 1;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #1a1b19;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 100%;
    left: 0px;
    background-color: #8a3503;
}

.author {
    color: #FFF;
    margin: 4px;
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #000;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
    text-transform: uppercase;
}

.post-link:hover,
.page-link {
    color: #355914;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    text-transform: uppercase;
}

.post-subtitle {
    margin-left: 5%;
    color: #23BBBB;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

sidebar {
    width: 20%;
}

.profile {
    border-radius: 50%;
    width:50%;
}

sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    float: right;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 40px;
    z-index: 600;
  }
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
.profile-text{
    font-size: 12px;
}

section{width:100%; float:left;}