{% extends "base.html" %}
{% block content %}

<!--  Credit AliOKeefe The Easy Eater,
https://github.com/AliOKeeffe/PP4_My_Meal_Planner -->
<div class="container">
    <h3 class="m10 col-11 col-md-8 col-lg-6 mt-3">Delete Comment</h3>
    <hr class="home-break">
    <br>
    <p class="text-center mt-3">Do you want to delete your comment?</p>
    <div class="row justify-content-center">
        <div class="col-11 col-md-6 col-lg-4 mt-3">
            <!-- Delete Comment Form -->
            <form class="text-center" method="POST">
                {%  csrf_token  %}
                <div>
                    <button class="btn btn-signup btn-lg" type="submit">Delete</button>
                    <a class="btn btn-signup btn-lg"
                        href="{%  url 'post_detail' comment.post.slug  %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}